
html, body {
  padding: 0 0 0 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: #efe6dd;
  color: #121111;
}

h1,h2,h3,h4 {
  font-family: 'Josefin Sans', sans-serif;
  }

p{
    font-size:20px;
    line-height: 26px;
}

a {
  color: #000;
}

.header{
    display:block;
    height:auto;
    width:100%;
    padding: 120px 30px 120px;
    overflow:hidden;
}

.header-left, .header-right{
    display:block;
    width: 100%;
    max-width:500px;
}

.header-right{
    text-align:center;  
}


.header h1 {
  font-size: 75px;
  margin-top:0px;
  margin-bottom:30px;
  }

.header h2 {
  margin-bottom:15px;
  }

.profile-image{
    max-width:250px;
    display:block;
}

/* ------ Assignment -----------*/
.assignments{
    display:block;
    height:auto;
    width:100%;
    padding: 30px 30px 30px;
    overflow:hidden;
}

.assignment {
    width: 30%;
    height: auto;
    padding-right: 3.33%;
    float: left;
}

.assignment-description{
    display:block;
    margin-top:15px;
}

.button{
    display:inline-block;
    padding:15px 20px;
    border-radius: 6px;
    background:#121111;
    color:#efe6dd;
    border: 1px solid #121111;
}

.button:hover{
    background:#efe6dd;
    color:#121111;
    border: 1px solid #121111;
}

.assignment a {
    color: #000;
    text-decoration: none;
}

.assignment a:hover {
  background: #F06;
  color: #F06;
  text-decoration: none;
}


footer {
    display:block;
    overflow:hidden;
    width: 100%;
    padding: 15px 0px 15px 0px;
}

footer p{
    text-align: center;
    font-size:13px;
}

.widebody {
    width: 800px;
    padding: 0px 30px 30px 30px;
}

.widebody a {
}

.widebody a:hover {
  background: #F06;
  color: #FFF;
  text-decoration: none;
}

