
html, body {
  padding: 0 0 0 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: #efe6dd;
  color: #121111;
}

h1,h2,h3,h4 {
  font-family: 'Josefin Sans', sans-serif;
  }

p{
    font-size:20px;
    line-height: 26px;
}

a {
  color: #000;
}

.header{
    display:block;
    height:auto;
    width:100%;
    padding: 120px 30px 60px;
    overflow:hidden;
}


.header h1 {
  font-size: 75px;
  margin-top:0px;
  margin-bottom:30px;
  text-align: center;
  }

.header h2 {
  margin-bottom:15px;
  text-align: center;
  }

.profile-image{
    width:250px;
    display:block;
    margin:15px auto;
}

.header p{
    width:100%;
    max-width:750px;
    display:block;
    margin:0 auto;
}

.scroll{
    display:block;
    margin-top:30px;
}

.scroll img{
    display:block;
    margin:0 auto;
}

.scroll img:hover{
    opacity:70%;
    transition:.5s;
}


/* ------ Assignment -----------*/
.assignments{
    display:block;
    height:auto;
    width:100%;
    padding: 30px 30px 30px;
    overflow:hidden;
}

.assignments h2{
    text-align: center;
}

.assignment {
    width: 30%;
    height: auto;
    padding-right: 3.33%;
    float: left;
}

.assignment-description{
    display:block;
    margin-top:15px;
}

.button{
    display:block;
    width:200px;
    margin:0 auto;
    padding:15px 20px;
    border-radius: 6px;
    background:#121111;
    color:#efe6dd;
    border: 1px solid #121111;
    text-align:center;
}

.button:hover{
    background:#efe6dd;
    color:#121111;
    border: 1px solid #121111;
}

.assignment a {
    color: #000;
    text-decoration: none;
}

.assignment a:hover {
  background: #F06;
  color: #F06;
  text-decoration: none;
}


@media screen and (max-width: 768px){
    .assignment{
        width:100%;
        padding-right:0;
        float:none;
    }
}



/* -----footer -------- */


footer {
    display:block;
    overflow:hidden;
    width: 100%;
    padding: 15px 0px 15px 0px;
}

footer p{
    text-align: center;
    font-size:13px;
}

.widebody {
    width: 800px;
    padding: 0px 30px 30px 30px;
}

.widebody a {
}

.widebody a:hover {
  background: #F06;
  color: #FFF;
  text-decoration: none;
}




/* --------- Assignment page ------------ */
.process{
    display:block;
    width:100%;
    max-width:960px;
    margin:0 auto;
    padding:0 30px;
}

.process h2{
    margin-top:60px;
}


